* {
  box-sizing: border-box;
}

.clock {
  background-color: aliceblue;
  width: 400px;
  height: 400px;
  position: absolute;
  border: 5px solid indianred;
  border-radius: 50px;
}

.middle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 49%;
  left: 47%;
  background-color: black;
  z-index: 1;
  border-radius: 50%;
}

.seconds-hand {
  background-color: white;
  width: 40%;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  border: 1px solid black;
  animation: seconds 20s linear infinite;
  border-radius: 30px;
}

.minutes-hand {
  background-color: white;
  width: 45%;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  animation: seconds 40s linear infinite;
  border: 2px solid black;
  border-radius: 30px;
}

.hours-hand {
  background-color: white;
  width: 35%;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  animation: seconds 10s linear infinite;
  border: 2px solid black;
  border-radius: 30px;
}

@keyframes seconds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes seconds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes seconds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
